body{
    /* height: 100%; */
margin: 0;
padding: 0%;
width: 100%;
background: url(https://media.wired.com/photos/5dd828ba9ac14a0008116983/master/pass/Transpo_TeslaStoryOne_Cybertruck-5.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position-y:center ;
/* position:relative; */
/* background-position-x: center; */
}
body{
    height: 100vh;
    margin: 0;
    color: white;
}
.nav-bar{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.nav-right{
    display: flex;
    align-items: center;
width: 300px;
    /* border: 2px solid white; */
    gap: 20px;

}
.nav-left a, .nav-right li{
    text-decoration: none;
color:white;
}
.nav-left img{
  height: 20px;
width: 80px;
    
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 450px;
}
.heading-btn{
    border-radius: 30px;
width: 250px;
height: 60px;
background: none;
color: white;
border: 1px solid white;
font-size: larger;
}
.heading-btn:hover{
    cursor: pointer;
}
.paragraph p{
    text-decoration: underline;
    text-align: center;
}
.paragraph{
    width: 250px;
}
.info{
    text-align: center;
    width: 400px;
}
.whole{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid white; */
    height: 300px;
}
.input{
    /* text-align: center; */
    height: 30px;
    width: 200px;
    background: none;
    border-radius: 20px;
    border: none;
    color: white;
    outline: none;
    padding: 3px;
}
.right-style{
    display: flex;
 justify-content: space-between;
 width:220px;
 border: 1px solid white;
 border-radius: 20px;
}
